.root {
  padding: var(--mantine-spacing-xs);
}

.link {
  display: flex;
  align-items: center;
  padding: 0.65rem 0.5rem 0.65rem 1.25rem;
  transition: 0.2s;
  margin-bottom: rem(4px);
  border-radius: calc(var(--mantine-spacing-xs) * 0.5);
  cursor: pointer;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  }

  &[data-active] {
    color: var(--mantine-color-gray-1);
    background-image: linear-gradient(45deg, #4B6CB7, #182848);
  }
}

.activeList {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  font-weight: 600;
}

/* Remove the !important declarations and use data-level attributes */
.nested {
  padding-left: 2rem;
}

.nested[data-level="1"] {
  padding-left: 2rem;
}

.nested[data-level="2"] {
  padding-left: 3rem;
}

.nested[data-level="3"] {
  padding-left: 4rem;
}